@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
		.input:focus {
            outline-style: none;
			outline-offset: 0px;
		}
		.select:focus {
            outline-style: none;
			outline-offset: 0px;
		}
		.modal-box{

			padding:0px;
			border-radius:0.5rem;

		}
	}